<div class="container">

    <ul class="nav nav-pills">

        <li class="nav-item">
            <a class="nav-link text-dark" href="/">home</a>
        </li>

        <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/items">items</a>
        </li>

        <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/cart">cart</a>
        </li>

        <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/orders">orders</a>
        </li>

        <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/login">login</a>
        </li>
        
    </ul>

</div>